@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
.container{
  height: 100vh;
  width: 100%;
  background-color: #0D1A1D;
  

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 16px;
  padding-right: 24px;
  
  
}

.logo{
  color: white;
  font-size: 32px;

}

nav ul li{
  display: inline-block;
  padding: 10px 24px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover{
  color: red;
  transition: .3s;
}
#btn-nav{
  background: none;
  color: white;
  border-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: .3s;
}

#btn-nav:hover{
  background: red;
  border-color: red;
  }

.contents h1{
  display: flex;
  margin-top: 30vh;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 4px;
  font-size: 40px;
  font-family: poppins;
}
.contents p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  color: white;
  font-family: poppins;
  font-size: 16px;
  letter-spacing: 2px;
}
.name{
  color: #00E0FF;
  padding-left: 10px;
}
#btn-body{
  display: block;
  font-size: 16px;
  background: none;
  color: white;
  border-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;


}


.icon-gmail{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-socialmedia{
  width: 70px;
  padding: 24px;
  font-size: 28px;
  
  
} 
.logo-socialmedia a{
  color: white;
}

.logo-socialmedia i{
  padding: 10px;
  margin-top: 4px;
}

.gmail-link {
  font-family: poppins;
  color: white;
  transform: rotate(90deg);
  font-size: 16px;
  margin-right: -96px;
  margin-bottom: 32px;
  letter-spacing: 2px;
  
  
}

