@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
.container{
  height: 100vh;
  width: 100%;
  background-color: #0D1A1D;
  
  

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 16px;
  padding-right: 24px;
  
  
}

.logo{
  color: white;
  font-size: 32px;

}

nav ul li{
  display: inline-block;
  padding: 10px 24px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover{
  color: red;
  transition: .3s;
}
#btn-nav{
  background: none;
  color: white;
  border-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: .3s;
}

#btn-nav:hover{
  background: red;
  border-color: red;
  }

.contents{
  margin-top: 4px;
  display: flex;
}

.child1{
  color: white;
}

.child1 h1{
  padding-left: 100px;
  padding-top: 100px;
}
.child1{
  padding-left: 124px;
}
.child2 img{
  height: 671px;
  width: 600px;
}