@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins';
  background-color: #0D1A1D;
}
.container{
  height: 10vh;
  width: 100%;
  
  
  

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 16px;
  padding-right: 24px;
  
  
}

.logo{
  color: white;
  font-size: 32px;

}

nav ul li{
  display: inline-block;
  padding: 10px 24px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover{
  color: red;
  transition: .3s;
}
#btn-nav{
  background: none;
  color: white;
  border-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: .3s;
}

#btn-nav:hover{
  background: red;
  border-color: red;
  }

.content{
    display: flex;
}

.Text-icon{
    flex: 1;
    letter-spacing: 2px;
    margin-top: 64px;
    padding-left: 40px;
    line-height: 84px;

}

  .Text-icon h1{
    color: white;
    font-family: poppins;
    font-size: 42px;
    padding-left: 32px;

  }
  .Text-icon i{
    color: white;
    font-size: 42px;
    padding-top: 62px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .contact{
    color: white;
    flex: 1;
  }

  /*for contact page*/
  
  .contact{
    margin-top: 12vh;
  }
  .contact h1{
    margin-left: 168px;
    margin-bottom: 24px;
    letter-spacing: 4px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-left: 168px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  input,
  textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 400px;
    
  }
  
  textarea {
    height: 150px;
  }
  
  .button{
    margin-top: 24px;
    width: 100px;
    font-size: 16px;
    color: #0D1A1D;
    border-color: #00E0FF;
    background-color: #00E0FF;
    padding: 8px;
    border-radius: 8px;
  }